// Colors
$black: #0f0f11;
$grey: #909097;
$orange: #c85a16;
$mint: #a9cab9;
$yellow: #efa500;

// Media query breakpoints
$breakpoints: (
  "phone": 576px,
  "tablet": 769px,
  "laptop": 992px,
  "laptop-wide": 1440px,
);
